<md-dialog aria-label="List dialog" ng-controller="BusinessPartnerController as businessPartnerCtrl" >
<md-dialog-content>

	<form name="businessPartnerForm">
            <md-stepper id="stepper"
                        md-mobile-step-text="$ctrl.isMobileStepText"
                        md-vertical="$ctrl.isVertical"
                        md-linear="$ctrl.isLinear"
                        md-alternative="$ctrl.isAlternative">
			
				<md-step md-label="Namen angeben">
					<md-step-body>
						<p>Wer ist der Geschäftspartner?</p>
					</md-step-body>
					<md-step-actions>
						<md-button class="md-primary" ng-click="$businessPartnerCtrl.cancel();">Abbrechen</md-button>
						<md-button class="md-primary md-raised" ng-click="$businessPartnerCtrl.secondStep();">Weiter</md-button>
					</md-step-actions>
				</md-step>
				
				<md-step md-label="Adresse angeben">
					<md-step-actions>
						<md-button class="md-primary" ng-click="$businessPartnerCtrl.cancel();">Abbrechen</md-button>
						<md-button class="md-primary md-raised" ng-click="$businessPartnerCtrl.secondStep();">Weiter</md-button>
					</md-step-actions>
				</md-step>
				
				<md-step md-label="Eingaben prüfen">
					<md-step-actions>
						<md-button class="md-primary" ng-click="$businessPartnerCtrl.cancel();">Abbrechen</md-button>
						<md-button class="md-primary md-raised" ng-click="$businessPartnerCtrl.secondStep();">Weiter</md-button>
					</md-step-actions>
				</md-step>
			
		</md-stepper>
	
	</form>


</md-dialog-content>
</md-dialog>