.angular-google-map-container {
	height: 300px;
}

.nli-header-1 {
	font-size: 1.75rem;
	padding: 20px;
	color: #0288d1;
}

h3 {
	color: #0288d1;
}

p.textfield {
	width: 800px;
}

md-content {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.md-select-menu-container md-content {
	background-color: #FFF;
}

md-card {
	height: 95%;
}

md-step-body {
	padding: 1rem;
}

label.md-no-float {
	font-size: 0.75rem;
	left: 2px !important;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	background: #AAA;
}

a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-primary.md-raised,
	a.md-button.md-default-theme.md-primary.md-fab, a.md-button.md-primary.md-fab,
	.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised,
	.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab
	{
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
}

a.md-button.md-default-theme.md-primary.md-raised:not ([disabled] ):hover,
	a.md-button.md-primary.md-raised:not ([disabled] ):hover, a.md-button.md-default-theme.md-primary.md-fab:not
	 ([disabled] ):hover, a.md-button.md-primary.md-fab:not ([disabled] ):hover,
	.md-button.md-default-theme.md-primary.md-raised:not ([disabled] ):hover,
	.md-button.md-primary.md-raised:not ([disabled] ):hover, .md-button.md-default-theme.md-primary.md-fab:not
	 ([disabled] ):hover, .md-button.md-primary.md-fab:not ([disabled] ):hover
	{
	background-color: #ff6f00;
}

#businessPartnerStepper md-step-body {
	min-height: 400px;
}

#meteringPointStepper md-step-body {
	min-height: 450px;
}

#businessPartnerStepper md-step-actions, #meteringPointStepper md-step-actions
	{
	padding: 1rem;
}

.margin-top {
	margin-top: 1rem;
}

.md-button {
	font-weight: 600;
}

.footer-login {
	background-color: #0288d1;
	height: 75px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.footer-wizard {
	background-color: #0288d1;
	height: 75px;
	width: 100%;
}

.container.ng-scope {
	background-color: #EEEEEE;
}

/* Sticky Footer */
.site {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.site-header, .site-footer {
	flex: none;
}

.site-content {
	flex: 1 0 auto;
	padding: 0;
	width: 100%;
}

.site-content::after {
	content: '\00a0';
	display: block;
	margin-top: 0;
	height: 0px;
	visibility: hidden;
}

.gateway-list span {
	position: relative;
	top: -10px;
	color: #777;
}

.gateway-list img {
	margin-right: 0.5rem;
}

.radio-in-list {
	margin-bottom: 0px !important;
}

.user-option {
	position: absolute;
	right: 0;
	margin-top: 0;
}

:focus {
	outline: none;
}